
<div class="container text-center">
    <h1>Dashboard</h1>
    <div class="row">
        <div class="col-8">
            <app-syncing-charts></app-syncing-charts>
        </div>
        <div class="col-4">
            <app-polar-area-basic></app-polar-area-basic>
        </div>
        <div class="col-6">
            <app-stacked-columns></app-stacked-columns>
        </div>
        <div class="col-6">
            <app-radar-multiple-series></app-radar-multiple-series>
        </div>
        <div class="col-12">
            <app-treemap-distributed></app-treemap-distributed>
        </div>
    </div>
</div>
