.recuadro{
  background-color: rgba(74, 74, 74, 0.05);
  padding: 0.8rem 2rem;
  border-right: 3px solid gray;
  margin-top: 3px;
}
h2{
  color: gray;
  font-size: medium !important;
  margin-bottom: -3px;
}
h1{
  margin-bottom: -1px;
}


