

<h1>Panel de tickets</h1>
<div class="container my-3">
  <a class="btn btn-primary" [routerLink]="['/admin/tickets']">Crear ticket</a>
</div>
<div class="mat-elevation-z8 mb-5" >
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Cod Ticket -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let ticket">{{ ticket.id }}</td>
    </ng-container>
    <!-- ./Cod Ticket -->

    <!-- Asunto -->
    <ng-container matColumnDef="asunto">
      <th mat-header-cell *matHeaderCellDef>Asunto</th>
      <td mat-cell *matCellDef="let ticket">{{ ticket.description }}</td>
    </ng-container>
    <!-- ./Asunto -->

    <!-- mensaje -->
    <ng-container matColumnDef="mensaje">
      <th mat-header-cell *matHeaderCellDef>Mensaje</th>
      <td mat-cell *matCellDef="let ticket">{{ ticket.message }}</td>
    </ng-container>
    <!-- ./mensaje -->

    <!-- Estado -->
    <ng-container matColumnDef="estado">
      <th mat-header-cell *matHeaderCellDef>Estado</th>
      <td mat-cell *matCellDef="let ticket">
        {{ ticket.state ? 'Solucionado' : 'Sin atender' }}
      </td>
    </ng-container>
    <!-- ./Estado -->
    
    <!-- Estado -->
    <ng-container matColumnDef="prioridad">
      <th mat-header-cell *matHeaderCellDef>Prioridad</th>
      <td mat-cell *matCellDef="let ticket">
        <div class="container-semaforo">
          
        </div>
        <div  *ngFor="let i of generateRange(ticket.priority)" class="semaforo" [ngClass]="ticket.priority==1 ? 'success': ticket.priority==2 ? 'warning' : 'danger'">
        </div>
      </td>
    </ng-container>
    <!-- ./Estado -->
    
    <!-- Acciones -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let ticket">
        <button mat-icon-button (click)="verDetalles(ticket)">
          <i class="bi bi-file-earmark-text"></i>
        </button>
        <button mat-icon-button (click)="cambiarEstado(ticket)">
          <i class="bi bi-pen"></i>
        </button>
      </td>
    </ng-container>
    <!-- ./Acciones -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <!-- Paginación -->
    <mat-paginator
      [pageSizeOptions]="pageSizeOptions"
      [pageSize]="pageSize"
      showFirstLastButtons
    ></mat-paginator>
  </table>
</div>
