<div class="container mt-4">
  <div class="selected-domains">
    <div class="selected-info" *ngIf="selectedDomains">
      <span>{{(selectedDomains['domainList'] ? selectedDomains['domainList'].length : 0)
              +
              (selectedDomains['hosting']? selectedDomains['hosting'].length:0)
        }} artículos seleccionados</span>
      <span>$ {{ totalPrice.toLocaleString('es-CO') }} COP</span>
    </div>
    <!-- <button class="btn btn-success" [routerLink]="['/admin/cart']"> -->
    <button class="btn btn-success" [routerLink]="['/admin/nameservers']">
      <i class="bi bi-cash"></i> Procesar pedido
    </button>
  </div>
</div>
