
$base-color: rgba(1, 84, 136, 1);

.contenedor{
  background: $base-color;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-top: 90px;

}
.menu{
  background: $base-color;
  display: flex;
  gap: 3px;

}
a{
  text-decoration: none;
  padding: 1rem;
  color: white;
}
.correo{
  background-color: rgba(0, 116, 186, 1);
}
p{
  margin: 0;
  color: white;
  padding: 0.5rem 1rem;

}

